[default]
user=root
password="{{ db.password }}"

[client]
user=root
password="{{ db.password }}"

[mysql]
user=root
password="{{ db.password }}"

[mysqldump]
user=root
password="{{ db.password }}"

[mysqldiff]
user=root
password="{{ db.password }}"
